<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Fullstack Engineer building things for the web with some awesome people. I graduated from
      <a class="underline-link" href="https://www.its.ac.id/" target="_blank">Institut Teknologi Sepuluh Nopember</a> in 2019 after completing awesome five-month total co-ops at
      <a class="underline-link" href="https://pep.pertamina.com//" target="_blank">Pertamina EP</a> Regional 2 (formerly knows Asset-3).
    </p>

    <p>
      My real journey as a fullstack software engineer started in 2021 when I finished by 4 months coding bootcamp in <a class="underline-link" href="https://www.hacktiv8.com/" target="_blank">Hacktiv8</a>.
      The idea of building things with code has always been fascinating to me from the start. But I finally decided to take the leap and
      dive into the world of software engineering with the knowledge that I got from bootcamp. Now I can build things and solve problems with code.
    </p>
    <p>
      As a software engineer, I enjoy <strong>exploring</strong> new technologies and often find myself working on projects that involve
      new and intersting technology for web development. My goal is to always build applications that are scalable and efficient
      under the hood while providing engaging, pixel-perfect user experiences while also open to new challenges and learning new things.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably hiking, conquering adventorous places or traveling to new places,
      trying out new things! I'm also a big fan of video games, movies, and TV shows. I'm always open to new experiences and challenges.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
